<%- include("components/header.ejs") %>

<main>
    <div class="container image">
        <div class="row text-center">
            <div class="col-12">
                <img src="images/night.jpg" alt="night">
            </div>
        </div>
    </div>
</main>

<%- include("components/footer.ejs") %>
