<%- include("components/header") %>

<main>
    <div class="container image">
        <div class="row text-center">
            <div class="col-12">
                <img src="images/moon.jpg" alt="moon" />
            </div>
        </div>
    </div>
</main>

<%- include("components/footer") %>
